{% extends 'home.html' %}

{% block titulo %}
Alterar perfil
{% endblock %}

{% block conteudo %}
 <!-- Content wrapper -->
          <div class="content-wrapper">
            <!-- Content -->

            <div class="container-xxl flex-grow-1 container-p-y">
              <div class="row">
                <div class="col-md-12">
                  <ul class="nav nav-pills flex-column flex-md-row mb-3">
                    <li class="nav-item">
                      <a class="nav-link active" href="javascript:void(0);"><i class="bx bx-user me-1"></i> Perfil</a>
                    </li>
                  </ul>
                  <div class="card mb-4">
                    <h5 class="card-header">Detalhes do perfil</h5>
                    <hr class="my-0" />
                    <div class="card-body">
                      <h5 class="mb-3">{{Erro}}</h5>
                      <form id="update" class="mb-3 row"name="update"  method="POST" action="/update/">
                        {% csrf_token %}
                        <div class="mb-3 col-6">
                          <label for="cpf" class="form-label">CPF</label>
                          <input
                            type="text"
                            class="form-control"
                            id="cpf"
                            name="cpf"
                            value="{{ user_view.cpf }}"
                            autofocus
                          />
                        </div>
                        <div class="mb-3 col-6">
                          <label for="nome" class="form-label">Nome</label>
                          <input type="text" class="form-control" id="nome" name="nome"
                                 value="{{ user_view.nome }}" />
                        </div>
                         <div class="mb-3 col-6">
                          <label for="telefone" class="form-label">Telefone</label>
                          <input type="text" class="form-control" id="telefone"
                                 name="telefone" value="{{ user_view.telefone }}" />
                        </div>
                        <div class="mb-3 col-6 form-password-toggle">
                          <label class="form-label" for="senha">Senha</label>
                          <div class="input-group input-group-merge">
                            <input
                              type="password"
                              id="senha"
                              class="form-control"
                              name="senha"
                              value="{{ user_view.senha }}"
                              aria-describedby="password"
                            />
                          </div>
                        </div>
                        <button class="btn btn-primary d-grid" style="width: 100px; margin-left: 0.80rem">Atualizar</button>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="content-backdrop fade"></div>
          </div>
{% endblock %}