{% extends 'sistema.html' %}

{% block titulo %}
Cadastro
{% endblock %}

{% block conteudo %}

<form name="cadastro" id="cadastro" method="POST" action="/cadastro/">
    {% csrf_token %}
    <div class="form-group">
        <label for="cpf">CPF</label>
        <input type="text" class="form-control" id="cpf" name="cpf" aria-describedby="emailHelp"
               placeholder="Seu cpf">
    </div>
    <div class="form-group">
        <label for="nome">Nome</label>
        <input type="text" class="form-control" name="nome" id="nome" aria-describedby="emailHelp"
               placeholder="Seu nome">
    </div>
    <div class="form-group">
        <label for="email">Endereço de email</label>
        <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp"
               placeholder="Seu email">
        <small id="emailHelp" class="form-text text-muted">Nunca vamos compartilhar seu email, com ninguém.</small>
    </div>
    <div class="form-group">
        <label for="telefone">Telefone</label>
        <input type="text" class="form-control" id="telefone" name="telefone" aria-describedby="emailHelp"
               placeholder="Seu telefone">
    </div>
    <div class="form-group">
        <label for="senha">Senha</label>
        <input type="password" class="form-control" id="senha" name="senha" placeholder="Senha">
    </div>
    <div class="form-group form-check">
        <input type="checkbox" class="form-check-input" id="salao" name="salao">
        <label class="form-check-label" for="salao">Salão</label>
    </div>

    <button type="submit" class="btn btn-primary">Cadastrar</button>
</form>
{% endblock %}