{% extends 'home.html' %}

{% block titulo %}
{{nome_funcao}}
{% endblock %}

{% block conteudo %}
<div class="container-xxl flex-grow-1 container-p-y">
  <div class="row">
    <div class="col-12 col-lg-12 order-2 order-md-3 order-lg-2 mb-4">
      <div class="card">
                <h5 class="card-header">Agendamentos</h5>
                <div class="table-responsive text-nowrap" style="min-height: 200px;">
                  <table class="table">
                    <thead class="table-light">
                      <tr>
                        <th>Cliente</th>
                        <th>Procedimento</th>
                        <th>Hora</th>
                        <th>Data</th>
                        <th>Preço</th>
                      </tr>
                    </thead>
                    <tbody class="table-border-bottom-0">
                    {% for item in agenda %}
                      <tr>
                        <td><i class="fab fa-angular fa-lg me-3"></i> <strong>{{ item.cliente }}</strong></td>
                        <td>{{ item.procedimento }}</td>
                        <td><span class="badge bg-label-primary me-1">{{ item.hora_inicial }} h</span></td>
                        <td><span class="badge bg-label-primary me-1">{{ item.data }}</span></td>
                        <td><span class="badge bg-label-primary me-1">R$ {{ item.valor_total }}0</span></td>
                        <td>
                          <div class="dropdown">
                            <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                              <i class="bx bx-dots-vertical-rounded"></i>
                            </button>
                            <div class="dropdown-menu">
                              <a class="dropdown-item" href="update/{{ item.id }}"
                                ><i class="bx bx-edit-alt me-1"></i> Editar</a
                              >
                              <a class="dropdown-item" href="delete/{{ item.id }}"
                                ><i class="bx bx-trash me-1"></i> Deletar</a
                              >
                            </div>
                          </div>
                        </td>
                      </tr>
                    {% endfor %}
                    </tbody>
                  </table>
                </div>
              </div>
       <div class="container-xxl flex-grow-1 container-p-y text-end" >
            <button class="btn btn-primary">
                <a href="cadastrar" style="color: #ffff;">Agendar</a>
            </button>
        </div>
    </div>
  </div>
</div>
<style>
  tbody td, thead th {
    text-align: center;
  }
</style>

{% endblock %}