{% extends 'home.html' %}

{% block titulo %}
Realizar agendamento
{% endblock %}

{% block conteudo %}
            <div class="container-xxl flex-grow-1 container-p-y">
              <!-- Basic Layout -->
              <div class="row">
                <div class="col-8 m-auto">
                  <div class="card mb-4">
                    <div class="card-header d-flex justify-content-between align-items-center">
                      <h5 class="mb-0">Realizar Agendamento</h5>
                    </div>
                     <div class="card-header d-flex justify-content-between align-items-center">
                      <h5 class="mb-0">{{Erro}}</h5>
                    </div>
                    <div class="card-body">
                      <form id="cadastrar" name="cadastrar"  method="POST" >
                         {% csrf_token %}
                        <div class="mb-3">
                           <label for="cliente" class="col-md-2 col-form-label">Cliente</label>
                             <div class="col-md-12">
                                <input class="form-control" type="text" name="cliente" value="{{db.cliente}}" id="cliente" />
                             </div>
                        </div>
                          {% if modo == "create" %}
                        <div class="mb-3">
                          <label for="exampleFormControlSelect1" class="form-label">Procedimento</label>
                          <select class="form-select" id="exampleFormControlSelect1" name="procedimento" aria-label="Default select example">
                          <option selected>Selecione um procedimento</option>
                            {% for item in procedimentos %}
                            <option value="{{ item.id }}">{{ item.nome }}</option>
                            {% endfor %}
                        </select>
                        </div>
                          {% endif %}
                          {% if modo == "update" %}
                          <div class="mb-3">
                           <label for="procedimento" class="col-md-2 col-form-label">Procedimento</label>
                             <div class="col-md-12">
                                <input class="form-control" type="text" name="procedimento" value="{{ procedimento.nome }}" id="procedimento" disabled/>
                             </div>
                        </div>
                          {% endif %}
                        <div class="mb-3">
                         <label for="html5-date-input" class="col-md-2 col-form-label">Data</label>
                          <div class="col-md-12">
                            <input class="form-control" type="date" name="data" value="{{db.data}}" id="html5-date-input" />
                          </div>
                        </div>
                        <div class="mb-3">
                            <label for="html5-time-input" class="col-md-2 col-form-label">Hora de inicio</label>
                            <div class="col-md-12">
                              <input class="form-control" type="time" name="hora_inicial" value="{{db.hora_inicial}}" id="html5-time-input" />
                            </div>
                          </div>
                        <button type="submit" class="btn btn-primary">Enviar</button>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
{% endblock %}