{% extends 'home.html' %}

{% block titulo %}
Horario
{% endblock %}

{% block conteudo %}
<div class="container-xxl flex-grow-1 container-p-y">
  <div class="row">
    <div class="col-12 col-lg-12 order-2 order-md-3 order-lg-2 mb-4">
      <div class="card">
                <h5 class="card-header">Light Table head</h5>
                <div class="table-responsive text-nowrap">
                  <table class="table">
                    <thead class="table-light">
                      <tr>
                        <th>Cliente</th>
                        <th>Procedimento</th>
                        <th>Horario</th>
                        <th>Preço</th>
                      </tr>
                    </thead>
                    <tbody class="table-border-bottom-0">
                    <h1>{{ agenda }}</h1>
                    {% for item in agenda %}
                      <tr>
                        <td><i class="fab fa-angular fa-lg text-danger me-3"></i> <strong>{{ item.cliente }}</strong></td>
                        <td>Albert Cook</td>
                        <td><span class="badge bg-label-primary me-1">Active</span></td>
                        <td>
                          <div class="dropdown">
                            <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                              <i class="bx bx-dots-vertical-rounded"></i>
                            </button>
                            <div class="dropdown-menu">
                              <a class="dropdown-item" href="javascript:void(0);"
                                ><i class="bx bx-edit-alt me-1"></i> Edit</a
                              >
                              <a class="dropdown-item" href="javascript:void(0);"
                                ><i class="bx bx-trash me-1"></i> Delete</a
                              >
                            </div>
                          </div>
                        </td>
                      </tr>
                    {% endfor %}
                    </tbody>
                  </table>
                </div>
              </div>
    </div>
  </div>
</div>
{% endblock %}