{% extends 'home.html' %}

{% block titulo %}
Horario
{% endblock %}

{% block conteudo %}
<div class="container-xxl flex-grow-1 container-p-y">
  <div class="row">
    <div class="col-12 col-lg-12 order-2 order-md-3 order-lg-2 mb-4">
      <h5>{{Erro}}</h5>
      <div class="card">
                <h5 class="card-header">Horario de Funcionamento</h5>
                <div class="table-responsive text-nowrap">
                  <table class="table">
                    <thead class="table-light">
                      <tr>
                        <th>Dia da semana</th>
                        <th>Abre às</th>
                        <th>Fecha às</th>
                      </tr>
                    </thead>
                    <tbody class="table-border-bottom-0">
                    {% for item in horario %}
                      <tr>
                        {% if item.dia_semana == 0 %}
                        <td>Segunda-feira</td>
                        {% elif item.dia_semana == 1 %}
                        <td>Terça-feira</td>
                        {% elif item.dia_semana == 2 %}
                        <td>Quarta-feira</td>
                        {% elif item.dia_semana == 3 %}
                        <td>Quinta-feira</td>
                        {% elif item.dia_semana == 4 %}
                        <td>Sexta-feira</td>
                        {% elif item.dia_semana == 5 %}
                        <td>Sábado</td>
                        {% elif item.dia_semana == 6 %}
                        <td>Domingo</td>
                        {% endif %}

                        <td>{{ item.hora_inicial }}</td>

                        <td>{{ item.hora_final }}</td>
                        <td>
                          <div class="dropdown">
                            <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                              <i class="bx bx-dots-vertical-rounded"></i>
                            </button>
                            <div class="dropdown-menu">
                              <a class="dropdown-item" href="update/{{ item.id }}"
                                ><i class="bx bx-edit-alt me-1"></i> Editar</a
                              >
                            </div>
                          </div>
                        </td>
                      </tr>
                    {% endfor %}
                    </tbody>
                  </table>
                </div>
              </div>
    </div>
  </div>
</div>
{% endblock %}